@media only screen and (max-width:806px){
    #olo{
        display:none;
    }
    #mobi2{
        display:block;
    }
    body{
        /* background: none; */
    
        /* background-color:black; */
        background-image: url('images/person.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 300%;
            /* backgrou */
            background-position-y: 30%;
    }
    #tab{
        display: none;
    }
    #mobile{
        display:none;
    }
}
@media only screen and (min-width:806px){
    #olo{
        display:block;
    }
    body{
        background-image: url('images/person.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            /* backgrou */
            background-position-y: 30%;
    }
    #mobile{
        display:none;
    }
    #tab{
        display:none;
    }
    #mobi2{
        display:none;
    }
}

@media only screen and (max-width:426px){
    #mobile{
        display:none;
    }
    #tab{
        display:block;
         background-image: url('images/person.jpeg');
            background-repeat: no-repeat;
            background-size: cover; 
            background-position: center;
            /* display: none; */
    }
    body{
        background: none;
    
        background-color:black;
        /* background-image: url('images/person.jpeg'); */
            /* background-repeat: no-repeat; */
            /* background-size: cover; */
            /* height: 300%; */
            /* backgrou */
            /* background-position-y: 30%; */
    }
}
@media only screen and (min-width:426px){
    #olo{
        display:none;
    }
    #mobile{
        display:none;
    }
    body{
        background-image: url('images/person.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            /* backgrou */
            background-position-y: 30%;
    }
    #tab{
        display:none;
    }
    #mobi2{
        display:block;
    }
}